

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo 2";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: white;
    }

/* Hero Section*/

.hero-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
}


.socials{
    position: absolute;
    right: 2%;
    margin-right: 10px;
   
}


.socials a{
    margin-right: 10px;
    padding-right: 1.5rem;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.socials a:hover{
  transform: scale(2);

}


.socials img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.logo{
    margin-right: 2%;
    margin-left: 5%;
    cursor: pointer;
}

.logo img {
    max-height: 8vw;
    border-radius: 100%;
    width: auto;
}

header {
    background-color: whitesmoke;
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5% 0;
    display: flex;
    align-items: center;
}


.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Style for the navigation */
  nav ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-style: oblique;
    font-display: auto;
    font-weight: bold;
    color: black;
    border-radius: 5px;
  }
  
  nav ul li:hover > a {
    background-color:white;
  }
  
  /* Style for the dropdown links */
  .dropdown-menu li {
    display: block;

  }
  
  .dropdown-menu li a {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li:hover > a {
    background-color:rgba(150,150,150, 0.1);
    
  }


  /* Home */



section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}


#video-background {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    z-index: -1; /* Ensure the video is behind other content */
    overflow: hidden; /* Hide any overflow of the video */
}

video {
  position: absolute;
  left: 0;
  object-fit: cover; /* Ensure the video covers the entire background */
  width: 100%;
  height: 80%;
  pointer-events: none; /* Make sure the video doesn't interfere with interactions */
}


.crew{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}


.crew img{
    margin: 30px;
    height: auto;
    max-width: 400px;
    border-radius: 20px;
    flex: 0 0 auto;
    margin-right: 20px;
    scroll-snap-align: start;
}

.store img{
   max-width: 400px;
    height: auto;
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;

}
p{
    font-size: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    width: 100%; /* Ensure footer spans the entire width */
    padding: 20px 0; /* Adjust padding as needed */
}

