/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    }


.container {
    width: 100%;
    margin: 0 auto;
    padding: 2% 5%;
    box-sizing: border-box;
}


.socials{
    position: absolute;
    top: auto;
    right: 2%;
    margin-right: 10px;
}


.socials a{
    margin-right: 10px;
}


.socials img{
    width: auto;
    height: 2vw;
    cursor: pointer;
}


.logo{
    margin-right: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.logo img {
    max-height: 8vw;
    border-radius: 100%;
    width: auto;
}

header {
    background-color: darkgray;
    color: black;
    font-weight: 600;
    padding: 0.5% 0;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: ivory;
    font-size: 1vw;
    text-decoration: none;
}


/* Style for the dropdown menu */
.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Style for the navigation */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
    
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
  }
  
  nav ul li:hover > a {
    background-color: #f5f5f5;
  }
  
  /* Style for the dropdown links */
  .dropdown-menu li {
    display: block;

  }
  
  .dropdown-menu li a {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li:hover > a {
    background-color: #f5f5f5;
    
  }
  
section {
    padding: 5% 0;
}

section h2 {
    font-size: 2vw;
    margin-bottom: 20px;
}


.member{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

}


.member img{
    margin: 25px;
    height: auto;
    max-width: 400px;
    border-radius: 20px;

}
.crew{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}


.crew img{
    margin: 30px;
    height: auto;
    max-width: 400px;
    border-radius: 20px;
    flex: 0 0 auto;
    margin-right: 20px;
    scroll-snap-align: start;
}

.store img{
   max-width: 400px;
    height: auto;
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;

}

footer {
    background-color: darkgray;
    color: rgb(0,0,0);
    text-align: center;
    padding: 0.5% 0;
}

@media screen and (max-width: 768px){
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 2% 5%;
        box-sizing: border-box;
    }
} 
